<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>

<body>
  <mat-toolbar color="primary" class="navbar">
  <div class="titolo" style="transform: scale(2);">
    <a mat-button href="">Re-Chat</a>
  </div>
  <div class="componenti">
    <span><a mat-button routerLink="app-login">Login</a> </span>
    <span><a mat-button routerLink="app-chat">Chat</a></span>
  </div>
</mat-toolbar>
<div>
  <h1>Barra Progressi sito in generale:</h1>
  <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>

</div>
<router-outlet></router-outlet>

</body>
