
.navbar{
  justify-content: space-between;
  height: 200px;
}


.titolo {
  margin-bottom: 100px;
  left:30px;
}

.componenti {
  margin-top: 150px;

}

span {
  position: relative;
}

div {
  position: relative;
  font-family: 'Nunito', sans-serif;
}
