<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>

<body>
  <mat-grid-list cols="16">
    <mat-grid-tile [colspan]="16" [rowspan]="1">
      <h1>Stanza Della Chat</h1>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="16" [rowspan]="6">
      <h1>Contenuto della chat</h1>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="16" [rowspan]="1">
      <input type="text" style="height:30px;width:700px;">
      <button style="height:36px;width:70px;">Invia</button>
    </mat-grid-tile>
  </mat-grid-list>
</body>
