<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>


<body>
  <div>
    <br>
    <mat-grid-list cols="1" rowHeight="100px">
      <mat-grid-tile>
        <h1>Benvenuto nella chat!</h1>
      </mat-grid-tile>
      <mat-grid-tile>
        <h2>Prima di iniziare a chattare, scegli la tua stanza...</h2>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Seleziona una stanza</mat-label>
          <mat-select [(value)]="selected">
            <mat-option>None</mat-option>
            <mat-option value="Stanza 1">Stanza 1</mat-option>
            <mat-option value="Stanza 2">Stanza 2</mat-option>
            <mat-option value="Stanza 3">Stanza 3</mat-option>
          </mat-select>
        </mat-form-field>
        <br>

      </mat-grid-tile>
      <mat-grid-tile>
        <h2>Hai selezionato: {{selected}}</h2>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-button color="primary" routerLink="app-stanza">SCEGLI</button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</body>
